.bg-body-tertiary {
    background-color: rgb(44, 63, 80) !important;
}

.navbar button{
    border: 1px solid white;
}

.navbar-toggler-icon{
    filter: invert(100%);
}

header .img-fluid{
    width: 50%;
}

.background-c-green{
   background-color: rgb(26 188 156);
}

.bg-white{
    height: 0.3rem;
    border-radius: 5px;
}

.bg-black{
    height: 0.3rem;
    border-radius: 5px;
}

.form-control-lg{
    border-radius: 1%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
}

